<!--<ListView [items]="items" (loaded)="onLoaded(event)" (itemLoading)="onItemLoading(event)" (itemTap)="onItemTap(event)" class="list-group">
    <template let-item="item" let-odd="odd" let-even="even">
      <StackLayout>
        <Label [text]="item.title" class="list-group-item"></Label>
        
      </StackLayout>
    </template>
</ListView>-->

<GridLayout rows="" columns="">
    <ListView [items]="source" >
        <template let-item="item" let-odd="odd" let-even="even">
          <StackLayout>
            <Label [text]="item.requestedon" class="list-group-item"></Label>
            <Label [text]="item.requestid" class="list-group-item"></Label>
            <Label [text]="item.requestno" class="list-group-item"></Label>
            <Label [text]="item.requesttype" class="list-group-item"></Label>
          </StackLayout>
        </template>
    </ListView>
    
</GridLayout>


