<!--<ListView [items]="items" (loaded)="onLoaded(event)" (itemLoading)="onItemLoading(event)" (itemTap)="onItemTap(event)" class="list-group">
    <template let-item="item" let-odd="odd" let-even="even">
      <StackLayout>
        <Label [text]="item.title" class="list-group-item"></Label>
        
      </StackLayout>
    </template>
</ListView>-->

<Page.actionBar>
<ActionBar title="Vessel Pro" android.icon="res://ic_launcher" class="action-bar" android.iconVisibility="always">
    <NavigationButton text="Back" icon="res://back" (tap) ="goBack()"></NavigationButton>
    <!--//<NavigationButton icon ="res://menu" (tap) = "showMenu()"></NavigationButton>-->
    
    <ActionItem class="actionitem" 
    (tap)="showMenu()" 
        icon="res://menu"
       ios.position="right"
       text="Log off"
       android.position="popup"></ActionItem>
</ActionBar>
</Page.actionBar>


<!--<GridLayout rows="" columns="">
    <ListView [items]="source" >
        <template let-item="item" let-odd="odd" let-even="even">
          <StackLayout>
            <Label [text]="item.requestedon" class="list-group-item"></Label>
            <Label [text]="item.requestid" class="list-group-item"></Label>
            <Label [text]="item.requestno" class="list-group-item"></Label>
            <Label [text]="item.requesttype" class="list-group-item"></Label>
          </StackLayout>
        </template>
    </ListView>
    
</GridLayout>-->

<GridLayout rows="" columns="">
    <ListView [items]="source" >
        <!--<template  let-item="item" let-odd="odd" let-even="even">
                    
          <StackLayout [class.even] = "even" [class.odd] ="odd">              
                 <Label  [text]="item.requestid" class="list-group-item cmlabel" ></Label>
                 <Label [text]="item.requestedon" class="list-group-item cmlabel"></Label>          
                <Label [text]="item.requesttype" class="list-group-item cmlabel"></Label>
               
          </StackLayout>
        </template>-->

         <!--<template nsTemplateKey="header" let-header="item">
            <GridLayout rows="auto" columns="auto, *, *" class="list-group">
                <Label row="0" col="0" class="list-group-item" [text]="header.item1"></Label>
                <Label row="0" col="1" class="list-group-item bg-primary" [text]="header.item2"></Label>
                <Label row="0" col="2" class="list-group-item bg-primary" [text]="header.item3"></Label>
                <Label row="0" col="3" class="list-group-item bg-primary" [text]="header.item4"></Label>
            </GridLayout>
        </template>-->
        <template nsTemplateKey="cell" let-item="item" let-i="index">
            <GridLayout class="srtgrid" rows="auto" columns="*, *, *, *">
                <Label class="srtlabel" row="0" col="0" textWrap="true" [text]= "i+1"></Label>
                <Label class="srtlabel" row="0" col="1" textWrap="true" [text]="item.requestid" class="bg-primary list-group-item"></Label>
                <Label class="srtlabel" row="0" col="2" textWrap="true" [text]="item.requestedon" class="list-group-item"></Label>
                <Label class="srtlabel" row="0" col="3" textWrap="true" [text]="item.requesttype" class="list-group-item"></Label>
                <!--<Label row="0" col="3" textWrap="true" [text]="item.Qty" class="list-group-item"></Label>-->
            </GridLayout>
        </template> 
    </ListView>
    
</GridLayout>


