<StackLayout >

<Image 
  src="res://vessel_pro_logo_nb_large" 
  stretch="none" 
  class="initial-logo"> </Image>
  
  <TextField #username 
    hint="Username"
    keyboardType="email"
    returnKeyType="next"
    (returnPress)="focusPassword()"
    [(ngModel)]="user.username"
    [isEnabled]="!isAuthenticating"
    autocorrect="false" 
    autocapitalizationType="none"
    row="0" ></TextField>


  <TextField #password
  hint="Password" 
  secure="true" 
  returnKeyType="done"
  (returnPress)="submit()"
  [isEnabled]="!isAuthenticating"
  [(ngModel)]="user.password"> </TextField>
  
  
  <ActivityIndicator
    [busy]="isAuthenticating"
    rowSpan="2"></ActivityIndicator>

<Button 
  [disabled]="!username.valid"
  [isEnabled]="!isAuthenticating"
  text="LOGIN" 
  class="submit-button" 
  (tap)="submit()"> </Button>
 
</StackLayout>

