<StackLayout #container>

<Image src="res://vessel_pro_logo_nb_large" stretch="none" class="initial-logo"> </Image>
  <TextField  

  hint="Client ID"
      keyboardType="email"
      returnKeyType="next"
        
    
        [(ngModel)]="user.username"
        [isEnabled]="!isAuthenticating"
        autocorrect="false"
        required 
        autocapitalizationType="none"
        row="0" >
  </TextField>

  <TextField
  hint="Password" 
  secure="true" 
  (returnPress)="submit()"
  [(ngModel)]="user.password">
  </TextField>

<Button 
[isEnabled]="!isAuthenticating"
text="LOGIN" 
class="submit-button" 
(tap)="submit()">
</Button>
 
</StackLayout>

