GridLayout {
  margin-left: 30;
  margin-right: 30;
  margin-top: 30;
  padding-bottom: 15;
  background-color: white;
}
.btn-sq-lg {
  width: 150px !important;
  height: 150px !important;
  margin-top: 20;
}
