.nameLabel {
    font-size: 20
}

.descriptionLabel {
    font-size: 14;
}
.even {
  background-color: #00caab;
}
.odd{

}
.cmlabel{
    text-align: center;
  width: 100%;
  font-size: 16;
  font-weight: bold;
}
.srtgrid{

    margin-left: 15;
    margin-right: 15


}
.srtlabel{
    text-align: center;
    font-size: 10;
}